USE [master]
GO
/****** Object:  Database [tiemcamdo]    Script Date: 4/21/2025 9:13:04 PM ******/
CREATE DATABASE [tiemcamdo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tiemcamdo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL22\MSSQL\DATA\tiemcamdo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tiemcamdo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL22\MSSQL\DATA\tiemcamdo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tiemcamdo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tiemcamdo]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaTaiSan] [int] NULL,
	[SoTienCam] [bigint] NOT NULL,
	[LaiSuat] [float] NOT NULL,
	[ThoiHan] [int] NULL,
	[NgayBatDau] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[TienLaiDuKien] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time] [datetime] NULL,
	[event] [nvarchar](100) NULL,
	[data_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiSan] [nvarchar](100) NOT NULL,
	[LoaiTaiSan] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[TinhTrang] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhLy]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhLy](
	[MaThanhLy] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NULL,
	[NgayThanhLy] [date] NOT NULL,
	[GiaBan] [bigint] NULL,
	[NguoiMua] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NULL,
	[SoTienTra] [bigint] NOT NULL,
	[NgayThanhToan] [date] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [MaTaiSan], [SoTienCam], [LaiSuat], [ThoiHan], [NgayBatDau], [TrangThai], [TienLaiDuKien]) VALUES (1, 1, 1, 10000000, 5, 60, CAST(N'2025-04-01' AS Date), N'Dang hieu luc', 1000000)
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [CCCD], [SoDienThoai], [DiaChi], [NgayTao]) VALUES (1, N'Nguyen Van A', N'012345678901', N'0901234567', N'123 Đường ABC', CAST(N'2025-04-21T21:08:24.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTaiSan], [TenTaiSan], [LoaiTaiSan], [MoTa], [TinhTrang], [HinhAnh], [NgayNhap]) VALUES (1, N'Xe máy Honda', N'Xe máy', N'Xe còn mới', N'Tốt', NULL, CAST(N'2025-04-21T21:08:24.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AAC1FA3237]    Script Date: 4/21/2025 9:13:04 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Dang hieu luc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Log] ADD  DEFAULT (getdate()) FOR [time]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaTaiSan])
REFERENCES [dbo].[TaiSan] ([MaTaiSan])
GO
ALTER TABLE [dbo].[ThanhLy]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
/****** Object:  Trigger [dbo].[trg_TinhTienLaiDuKien]    Script Date: 4/21/2025 9:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TinhTienLaiDuKien]
ON [dbo].[HopDong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE HD
    SET HD.TienLaiDuKien = HD.SoTienCam * (HD.LaiSuat / 100.0) * (HD.ThoiHan / 30.0)
    FROM HopDong HD
    INNER JOIN inserted i ON HD.MaHopDong = i.MaHopDong;
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_TinhTienLaiDuKien]
GO
USE [master]
GO
